.gridTitle {
    padding-left: 20px;
}

.projectsGrid {
    display: flex;
    margin: 10px 20px 20px 20px;
    justify-content: center;
    position: relative;
    height: 90vh;
}

.card {
    display: none;
    flex-direction: column;
    box-shadow: 5px 5px rgba(0, 0, 0, .1);
    height: 90vh;
    position: absolute;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    /* opacity: 0; */
    transition: display ease-in-out 0.4s;
}

.cardActive {
    /* opacity: 1; */
    display: flex;
}

.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    /* border: 1px solid black; */
}

.imgButton {
    border: none;
    background-color: white;
    width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #f1f1f1;
        border: 1px solid rgba(34, 34, 34, 0.287);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
}

.prev {
    top: 40%;
    left: 0px;
    transform: translateY(-60%);
}

.next {
    top: 40%;
    right: 0px;
    transform: translateY(-60%);
}

.cardImage {
    height: 100%;
    /* max-width: 90%; */
    width: 100%;
}

.projectTitle, .projectDescription {
    padding: 10px 10px 10px 20px;
}

.projectTitle {
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.projectDescription {

}

.dotsContainer {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    position: absolute;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
}

.dotActive {
    background-color: rgb(156, 16, 16);
}

.svgDiv {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.SVG {
    width: 40px;
}